@charset "utf-8";

body {
    font: 100%/1.4 Verdana, Arial, Helvetica, serif;
    background: #42413C;
    margin: 0;
    padding: 0;
    color: #000;
}

/* ~~ Селекторы элементов/тегов ~~ */

ul, ol, dl {

    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {

    margin-top: 0;

    padding-right: 15px;
    padding-left: 15px;

}
a img {
    border: none;
}
a:link {
    color: #42413C;
    text-decoration: underline;
}

a:visited {
    color: #6E6C64;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}

.container {
    width: 960px;
    background: #FFFFFF;
    margin: 0 auto;
}

header {
    background: #00FF00 ;
}

.sidebar1 {
    float: left;
    width: 50%;
    background: #66FF66;
    padding-bottom: 10px;
}

.sidebar2{

    float: right;
    width: 50%;
    background: #00CC7A;
    padding-bottom: 10px;
}

.content {

    padding: 10px 0;
    width: 600px;
    float: left;
}

aside {
    float: right;
    width: 50%;
    background: #669900;
    padding: 1px 0;
}
/* ~~ Этот сгруппированный селектор выдает списки в пространстве .content ~~ */

.content ul, .content ol {
    padding: 0 15px 15px 40px;

}
nav ul {

    list-style: none; /* Удаляет маркер списка. */
    border-top: 1px solid #666; /* Создает верхнюю границу ссылок — все остальные размещаются по нижней границе в LI. */
    margin-bottom: 15px; /* Создает пространство между навигацией по содержимому ниже. */
}

nav ul li {
    border-bottom: 1px solid #666; /* Разделяет кнопки. */

}

nav ul a, nav ul a:visited {

    padding: 5px 5px 5px 15px;
    display: block;

    width: 160px;

    text-decoration: none;
    background: #C6D580;
}

nav ul a:hover, nav ul a:active, nav ul a:focus {

    background: #ADB96E;
    color: #FFF;
}

footer {
    padding: 10px 0;
    background: #FF3300;
    position: relative;
}

.fltrt {
    float: right;
    margin-left: 8px;
}
.fltlft {

    float: left;
    margin-right: 8px;
}

.clearfloat {

    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


header, section, footer, aside, nav, article, figure {
    display: block;

}
.tabstyle1 {
    border: 5px ridge #73766f;
    border-collapse: collapse;
}

.tabstyle1 thead, th {
    background: -webkit-linear-gradient(top right, #b8b9b1, #fff); /* для webkit-браузеров */
    background: -moz-linear-gradient(top right, #b8b9b1, #fff); /* для firefox 3.6+ */
    background: -o-linear-gradient(top right, #b8b9b1, #fff); /* для Opera 11.10+ */
    background: -ms-linear-gradient(top right, #b8b9b1, #fff); /* для IE10+ */
    text-align: center;
    vertical-align: text-top;
    padding:10px;
    border-bottom: 3px ridge #73766f;
    border-left: 1px solid #73766f;
    border-collapse: collapse;
}

.tabstyle1 td, tr {
    text-align:left;
    vertical-align: text-top;
    padding:10px;
    border: 1px solid #73766f;
    border-collapse: collapse;
    background: #fff;
}

